<%include ./partials/header.ejs %>
    <div class="row">
        <div class='col s8'>
            <img src=<%= user.image%> >
            <div><%=user.name %></div>
            <h1>Fuck it</h1>
        </div>
    </div>

<%include ./partials/footer.ejs %>
